%main
  %h1 Are you happy?

  .buttons
    #yes
      = form_for(@mood) do |f|
        = f.hidden_field :happy, value: true
        = f.submit "Yes"

    #no
      = form_for(@mood) do |f|
        = f.hidden_field :happy, value: false
        = f.submit "No"
