%html.no-js{ lang: 'en' }
  %head
    %title= yield(:title)

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ charset: 'utf-8' }

    = csrf_meta_tag

    = stylesheet_link_tag :application

    = render 'shared/fonts'

  %body
    = render 'shared/flashes'
    = yield

    :javascript
      flickrApiKey = "#{ENV['FLICKR_API_KEY']}";
    = javascript_include_tag :application
