%html.no-js{ lang: 'en' }
  %head
    %title= yield(:title)

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ charset: 'utf-8' }

    = csrf_meta_tag

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag "vendor/custom.modernizr"

  %body{ body_attributes }
    = render 'shared/flashes'

    .container-fluid
      = yield
